{% extends 'base.html' %}
{% load uni_form_tags %}
{% block title %}
Appointments calandatrs.
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery-ui-1.8.11.custom.css" type="text/css" media="all">
<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.weekcalendar.css" type="text/css" media="all">
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-week-calendar/jquery.weekcalendar.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-week-calendar/jquery-ui-i18n.js"></script>
{% endblock %}
{% block content %}

<div id="calendar"></div>
{% endblock %}
