{% extends 'base.html' %}
{% block title %}Hello {{name}}!{% endblock %}
{% block content %}
   <div id="faded">
        <ul class="slides">
            <li><a href="{% url profile.get_code_marks %}"></a></li>
            <li><a href="{% url profile.get_driving_marks %}"></a></li>
            <li><a href="{% url profile.edit_profile %}"></a></li>
			<li><a href="#"></a></li>
			<li><a href="{% url profile.bill %}"><span><span>Learn More</span></span></a></li>
        </ul>
        <ul class="pagination">
            <li><a href="{% url profile.get_code_marks %}" rel="0"><span>Notes</span></a></li>
            <li><a href="{% url profile.get_driving_marks %}" rel="1"><span>Commentaires</a></li>
            <li><a href="{% url profile.edit_profile %}" rel="2"><span>Mes informations</span></a></li>
			<li><a href="#" rel="3"><span>Mon planning</span></a></li>
			<li><a href="{% url profile.bill %}" rel="4"><span>Mes contrats</span></a></li>
        </ul>
    </div>
{% endblock %}
