{% extends 'base.html' %}
{% load uni_form_tags %}
{% block title %}
Billing
{% endblock %}
{% block extra_head %}
<script langage="javascript">
var price;
$(function(){
	$("#id_formula").change(function(){
		price = $("#id_formula").html().split("(à ")[1].split(" €)")[0];
		$('#id_price').val(price);
		$("#remise").val(0);
	});


	$("#id_price").change(function(){
		$("#id_remise").val(100-(($('#id_price').val()/price)*100));
	});

	$("#remise").change(function(){
		$("#id_price").val(price-price*$("#remise").val()/100);
	});
});
</script>
{% endblock %}
{% block content %}
<form method='post' class='uniForm'>
  {% csrf_token %}
  <div>
      {{ form|as_uni_form }}
	<div class="ctrlHolder ">
            <label for="rate">
                Remise<span></span>
            </label>
            <input id="id_remise" type="text" class="textinput textInput" name="remise" /> %
    </div>
    <div class="buttonHolder">
      <button type="submit" class="primaryAction">Billing</button>
    </div>
  </div>
</form>
{% endblock %}
