{% extends 'base.html' %}
{% block title %}Liste des clients{% endblock %}

{% block extra_head %}
<link href="{{MEDIA_URL}}jjhec/css/demo_table_jui.css" rel="stylesheet" type="text/css" />
<link href="{{MEDIA_URL}}jjhec/css/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" language="javascript" src="{{MEDIA_URL}}jjhec/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="{{MEDIA_URL}}jjhec/js/jquery.dataTables.js"></script>

<script type="text/javascript" language="javascript">
console.log("test");
$(document).ready(function() {
	$('#example').dataTable();

} );

function executeAction(select, id){
	switch (select)
	{
		case 1:
		window.location.replace("{% url crm.billing 9001 %}".replace('9001', id ));
		break;
		case 2:
		window.location.replace("{% url crm.add_score 9001 %}".replace('9001', id ));
		break;
		case 3:
		window.location.replace("{% url crm.register_formation 9001 %}".replace('9001', id ));
		break;
		case 4:
		window.location.replace("{% url crm.register_exam 9001 %}".replace('9001', id ));
		break;
	}
}
</script>
{% endblock %}

{% block content %}
<div align="center"><a href="{% url crm.register_user %}" class="button_link">Ajouter un Client</a></div>
<div id="tabcenter">
	<table id="example">
		<thead>
			<tr>
				<td width='100px'>UserName</td>
				<td width='100px'>Nom</td>
				<td width='100px'>Prenom</td>
				<td width='100px'>Action</td>
			</tr>
		</thead>
		<tbody>
			{% for customer in customers %}
			<tr>
				<td>{{ customer.username }}</td>
				<td>{{ customer.first_name }}</td>
				<td>{{ customer.last_name }}</td>
				<td><select name="action" size="1" onchange="executeAction(this.selectedIndex, {{ customer.id }} )">
						<option>-</option>
						<option>Facturation</option>
						<option>Nouveau score</option>
						<option>Nouvelle formation</option>
						<option>Inscription examen</option>
					</select>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
