<aside>
	<div class="container">
		<div class="inside">
		</div>
	</div>
</aside>
<!-- footer -->
<footer>
	<div class="container">
		<div class="inside">
  			<a href="/ma" class="new_window">Admin</a> Mobile<br />
            <script type="text/javascript" src="http://www.ohloh.net/p/488653/widgets/project_thin_badge.js"></script><br />
			<a href="http://www.templatemonster.com" class="new_window">Website template</a> designed by TemplateMonster.com<br />
			<a href="http://www.templates.com/product/3d-models/" class="new_window">3D Models</a> provided by Templates.com
		</div>
	</div>
</footer>