    <div id="main_menu" style="float:left;">
      <ul>
        <li><a href="{% url hello_world.index %}">hello_world</a></li>
        {% if perms.change_transaction %}
        <li><a href="{% url crm.index %}">crm</a></li>{% endif %}
        {% if user.is_authenticated %}
        <li><a href="{% url profile.index %}">profile</a></li>{% endif %}
        {% if perms.change_results %}
        <li><a href="{% url trainer.index %}">trainer</a></li>{% endif %}
        {% if user.is_staff %}
        <li><a href="/admin/">admin</a></li>{% endif %}
      </ul>
    </div>
